<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308786810171-vk09krncffeom4jk00d59ru31v2l9tbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308786810171-vk09krncffeom4jk00d59ru31v2l9tbf</string>
	<key>API_KEY</key>
	<string>AIzaSyCrWz8K5MCiFOrpOyQj7tLM25VoX86fV2A</string>
	<key>GCM_SENDER_ID</key>
	<string>308786810171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abshirmohamed.loginreg</string>
	<key>PROJECT_ID</key>
	<string>fir-crashcourse-4e839</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crashcourse-4e839.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308786810171:ios:09ecf10c3e438b72</string>
	<key>DATABASE_URL</key>
	<string>https://fir-crashcourse-4e839.firebaseio.com</string>
</dict>
</plist>